{
  "openapi": "3.0.3",
  "servers": [
    {
      "url": "https://api.gitguardian.com"
    }
  ],
  "info": {
    "title": "GitGuardian API",
    "version": "1.1.0",
    "termsOfService": "https://www.gitguardian.com/legal-terms",
    "license": {
      "name": "GitGuardian",
      "url": "https://www.gitguardian.com/legal-terms"
    },
    "x-logo": {
      "url": "https://static.gitguardian.com/Logo-blue.png",
      "altText": "GitGuardian"
    },
    "contact": {
      "name": "GitGuardian",
      "email": "support@gitguardian.com",
      "url": "https://www.gitguardian.com"
    },
    "description": "\n# Introduction\n\nWhether you want to build a complete integration with your software development\nworkflow or simply want to test GitGuardian's policy break detection on any text content,\nyou can use our API.\n\n- The base url for the latest version is `api.gitguardian.com/v1` over `HTTPS`.\n- All data is sent and received as JSON by default.\n- All timestamps returned are ISO-8601 compliant, example:\n```python\n2020-03-16T04:46:00+00:00 # for date-time\n```\n\nGitGuardian supported wrappers:\n- Python: [**py-gitguardian**](https://github.com/GitGuardian/py-gitguardian)\n\nGitGuardian provides you with [**GitGuardian Shield**](https://github.com/GitGuardian/gg-shield),\na CLI application that uses the GitGuardian API through py-gitguardian\nto scan your files and detect potential secrets or issues in your code.\n\nThis CLI application can be used in many CIs (such as GitHub Actions, GitLab Pipelines, CircleCI,...)\nor as a pre-commit or pre-receive hook.\n\n# Authentication\n\nThe GitGuardian API uses API keys to authenticate requests.\n\nYou need to [create an account](https://dashboard.gitguardian.com/auth/signup) before getting started\nin order to get an API key.\n\nYour API key can be created and revoked from the\n[API section of your dashboard](https://dashboard.gitguardian.com/api).\n\nYour API key must kept private and should neither be embedded directly in the code nor versioned in Git.\n(Please do not push GitGuardian's API keys to public GitHub repositories ^^).\n\nBeware your API keys can expire and can be revoked.\n\nUse [/v1/health](#operation/health_check) to check the\nvalidity of your token if needed.\n\n```bash\ncurl -H \"Authorization: Token ${TOKEN}\" \\\n  https://api.gitguardian.com/v1/health\n```\n\n\n<!-- ReDoc-Inject: <security-definitions> -->\n"
  },
  "tags": [
    {
      "name": "Secret Incidents",
      "description": "Manage incidents found by post-receive hooks on your GitGuardian Dashboard.\n"
    },
    {
      "name": "Secret Occurrences",
      "description": "Manage occurrences found by post-receive hooks on your GitGuardian Dashboard.\n"
    },
    {
      "name": "Secret Incident Notes",
      "description": "Manage notes on incidents found by post-receive hooks on your GitGuardian Dashboard.\n"
    },
    {
      "name": "Invitations",
      "description": "Manage workspace invitations.\n"
    },
    {
      "name": "Sources",
      "description": "Retrieve details on sources monitored by GitGuardian.\n"
    },
    {
      "name": "Members",
      "description": "Retrieve details about workspace members.\n"
    },
    {
      "name": "Scan Methods",
      "description": "Use GitGuardian's brain at your leisure.\n\nScanning API allows you to scan any content you want using GitGuardian's secrets detection algorithms.\n"
    },
    {
      "name": "Quota",
      "description": "Retrieve details about quota usage.\n"
    },
    {
      "name": "Audit logs",
      "description": "List of audit logs of the workspace.\n"
    },
    {
      "name": "Status",
      "description": "Check the status of the API and the overall system health.\n"
    },
    {
      "name": "Teams",
      "description": "Manage teams.\n"
    },
    {
      "name": "Team Invitations",
      "description": "Manage team invitations.\n"
    },
    {
      "name": "Team Memberships",
      "description": "Add or remove members from teams, or update their permissions.\n"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Incidents Management",
      "tags": [
        "Secret Incidents",
        "Secret Occurrences",
        "Secret Incident Notes"
      ]
    },
    {
      "name": "Perimeter Management",
      "tags": [
        "Sources"
      ]
    },
    {
      "name": "User Management",
      "tags": [
        "Members",
        "Invitations"
      ]
    },
    {
      "name": "Secrets Scanning",
      "tags": [
        "Scan Methods",
        "Quota"
      ]
    },
    {
      "name": "Team Management",
      "tags": [
        "Teams",
        "Team Invitations",
        "Team Memberships",
        "Team Requests",
        "Team Sources"
      ]
    },
    {
      "name": "Audit Logs",
      "tags": [
        "Audit Logs"
      ]
    },
    {
      "name": "Other",
      "tags": [
        "Status"
      ]
    }
  ],
  "paths": {
    "/v1/incidents/secrets": {
      "get": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "list-incidents",
        "summary": "List secret incidents",
        "description": "List secret incidents detected by the GitGuardian dashboard.\nOccurrences are not returned in this route.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/date_before"
          },
          {
            "$ref": "#/components/parameters/date_after"
          },
          {
            "name": "assignee_email",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Incidents assigned to this email.",
              "example": "eric@gitguardian.com"
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/StatusEnum"
                }
              ],
              "description": "Incidents with the following status."
            }
          },
          {
            "name": "severity",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SeverityEnum"
                }
              ],
              "description": "Filter incidents by severity."
            }
          },
          {
            "name": "validity",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ValidityEnum"
                }
              ],
              "description": "Secrets with the following validity."
            }
          },
          {
            "name": "tags",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Incidents with one of the following tags. Use `NONE` if you want to filter incidents with no tags.",
              "example": "FROM_HISTORICAL_SCAN,SENSITIVE_FILE",
              "allOf": [
                {
                  "$ref": "#/components/schemas/TagFilterEnum"
                }
              ]
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "-date",
                "resolved_at",
                "-resolved_at",
                "ignored_at",
                "-ignored_at"
              ]
            }
          },
          {
            "name": "detector_group_name",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Incidents belonging to the specified detector group.",
              "example": "slackbot_token"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret Incident List",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist",
                  "example": "<http://api.gitguardian.com/v1/incidents/secrets?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/incidents/secrets?cursor=cD0xNTA%3D>; rel=\"prev\""
                }
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/xPerPage"
              },
              "X-Next-Page": {
                "$ref": "#/components/headers/xNextPage"
              },
              "X-Page": {
                "$ref": "#/components/headers/xPage"
              },
              "X-Prev-Page": {
                "$ref": "#/components/headers/xPrevPage"
              },
              "X-Total": {
                "$ref": "#/components/headers/xTotal"
              },
              "X-Total-Pages": {
                "$ref": "#/components/headers/xTotalPages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/incidentWithoutOccurrences"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:read"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}": {
      "get": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "retrieve-incidents",
        "summary": "Retrieve a secret incident",
        "description": "Retrieve secret incident detected by the GitGuardian dashboard with\nits occurrences.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          },
          {
            "name": "with_occurrences",
            "in": "query",
            "description": "Retrieve a number of occurrences of this incident.",
            "schema": {
              "type": "integer",
              "default": 20,
              "minimum": 0,
              "maximum": 100
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Secret Incident Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incident"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:read"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "update-secret-incident",
        "summary": "Update a secret incident",
        "description": "Update a secret incident\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Update Request",
                "properties": {
                  "severity": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SeverityEnum"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Secret Incident Details without occurrences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incidentWithoutOccurrences"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:write"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/assign": {
      "post": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "assign-incident",
        "summary": "Assign a secret incident",
        "description": "Assign secret incident detected by the GitGuardian dashboard to a workspace member\nby email.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Assignee Request",
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "eric@gitguardian.com",
                    "description": "email of the member to assign. This parameter is mutually exclusive with `member_id`.\n"
                  },
                  "member_id": {
                    "type": "number",
                    "example": 4295,
                    "description": "id of the member to assign. This parameter is mutually exclusive with `email`.\n"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Secret Incident Details without occurrences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incidentWithoutOccurrences"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:write"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/unassign": {
      "post": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "unassign-incident",
        "summary": "Unassign a secret incident",
        "description": "Unassign secret incident from a workspace member by email.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Secret Incident Details without occurrences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incidentWithoutOccurrences"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:write"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/resolve": {
      "post": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "resolve-incident",
        "summary": "Resolve a secret incident",
        "description": "Resolve a secret incident detected by the GitGuardian dashboard.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Resolve Request",
                "required": [
                  "secret_revoked"
                ],
                "properties": {
                  "secret_revoked": {
                    "type": "boolean",
                    "example": true
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Secret Incident Details without occurrences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incidentWithoutOccurrences"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:write"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/ignore": {
      "post": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "ignore-incident",
        "summary": "Ignore a secret incident",
        "description": "Ignore a secret incident detected by the GitGuardian dashboard.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Ignore Request",
                "required": [
                  "ignore_reason"
                ],
                "properties": {
                  "ignore_reason": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/SecretStatusEnum"
                      }
                    ],
                    "example": "low_risk"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Secret Incident Details without occurrences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incidentWithoutOccurrences"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:write"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/reopen": {
      "post": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "reopen-incident",
        "summary": "Reopen a secret incident",
        "description": "Unresolve or unignore a secret incident detected by the GitGuardian dashboard.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Secret Incident Details without occurrences.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incidentWithoutOccurrences"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:write"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/share": {
      "post": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "share-incident",
        "summary": "Share a secret incident",
        "description": "Share a secret incident by creating a public link.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Incident Share Request",
                "properties": {
                  "auto_healing": {
                    "type": "boolean",
                    "example": true,
                    "default": false,
                    "description": "Allow the developer to resolve or ignore through the share link"
                  },
                  "feedback_collection": {
                    "type": "boolean",
                    "example": true,
                    "default": true,
                    "description": "Allow the developer to submit their feedback through the share link"
                  },
                  "lifespan": {
                    "type": "integer",
                    "example": 720,
                    "default": 0,
                    "description": "Lifespan, in hours, of the share link. If 0 or unset, a default value will be applied based on the workspace settings."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Incident Sharing Details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incidentToken"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:share"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/unshare": {
      "post": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "unshare-incident",
        "summary": "Unshare a secret incident",
        "description": "Unshare a secret incident by revoking its public link.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          }
        ],
        "responses": {
          "204": {
            "description": "The public link was revoked successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:share"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/grant_access": {
      "post": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "grant-access-incident",
        "summary": "Grant access to a secret incident",
        "description": "Grant a user, an existing invitee or a team access to a secret incident.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Grant Access Request",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address of a user or invitee. This parameter is mutually exclusive\nwith `member_id`, `invitation_id` and `team_id`.\n"
                  },
                  "member_id": {
                    "type": "number",
                    "description": "Id of a member. This parameter is mutually exclusive with `email`,\n`invitation_id` and `team_id`.\n"
                  },
                  "invitation_id": {
                    "type": "number",
                    "description": "Id of an invitation. This parameter is mutually exclusive with `email`,\n`member_id` and `team_id`.\n"
                  },
                  "team_id": {
                    "type": "number",
                    "description": "Id of a team, except for the global team. This parameter is mutually\nexclusive with `email`, `member_id` and `invitation_id`.\n"
                  },
                  "incident_permission": {
                    "type": "string",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/IncidentPermissionEnum"
                      }
                    ]
                  }
                },
                "example": {
                  "member_id": 1492,
                  "incident_permission": "can_edit"
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The access was granted successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDeniedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:share"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/revoke_access": {
      "post": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "revoke-access-incident",
        "summary": "Revoke access to a secret incident",
        "description": "Revoke access of a user, an existing invitee or a team to a secret incident.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Grant Access Request",
                "properties": {
                  "email": {
                    "type": "string",
                    "description": "Email address of a user or invitee. This parameter is mutually exclusive\nwith `member_id`, `invitation_id` and `team_id`.\n"
                  },
                  "member_id": {
                    "type": "number",
                    "description": "Id of a member. This parameter is mutually exclusive with `email`,\n`invitation_id` and `team_id`.\n"
                  },
                  "invitation_id": {
                    "type": "number",
                    "description": "Id of an invitation. This parameter is mutually exclusive with `email`,\n`member_id` and `team_id`.\n"
                  },
                  "team_id": {
                    "type": "number",
                    "description": "Id of a team, except for the global team. This parameter is mutually\nexclusive with `email`, `member_id` and `invitation_id`.\n"
                  }
                },
                "example": {
                  "member_id": 1492
                }
              }
            }
          }
        },
        "responses": {
          "204": {
            "description": "The access was revoked successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDeniedError"
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:share"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/notes": {
      "get": {
        "tags": [
          "Secret Incident Notes"
        ],
        "operationId": "list-incident-notes",
        "summary": "List notes on a secret incident",
        "description": "List notes left on a secret incident in chronological order.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at",
                "updated_at",
                "-updated_at"
              ]
            }
          },
          {
            "name": "member_id",
            "in": "query",
            "description": "Filter by member id.",
            "schema": {
              "type": "integer",
              "example": 1
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Search notes based on the comment field content.",
              "example": "I revoked this"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Incident Note List",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist",
                  "example": "<http://api.gitguardian.com/v1/incidents/secrets/1/notes?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/incidents/secrets/1/notes?cursor=cD0xNTA%3D>; rel=\"prev\""
                }
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/xPerPage"
              },
              "X-Next-Page": {
                "$ref": "#/components/headers/xNextPage"
              },
              "X-Page": {
                "$ref": "#/components/headers/xPage"
              },
              "X-Prev-Page": {
                "$ref": "#/components/headers/xPrevPage"
              },
              "X-Total": {
                "$ref": "#/components/headers/xTotal"
              },
              "X-Total-Pages": {
                "$ref": "#/components/headers/xTotalPages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/incidentNote"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Secret Incident not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Secret Incident Notes"
        ],
        "operationId": "create-incident-note",
        "summary": "Create a secret incident note",
        "description": "Add a note on a secret incident.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Incident Note Request",
                "properties": {
                  "comment": {
                    "type": "string",
                    "example": "I revoked this secret",
                    "description": "Content of the incident note"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "The note was created successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incidentNote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Secret Incident not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:write"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/notes/{note_id}": {
      "patch": {
        "tags": [
          "Secret Incident Notes"
        ],
        "operationId": "update-incident-note",
        "summary": "Update a secret incident note",
        "description": "Update an existing comment on a secret incident. Only incident notes\ncreated by the current API key can be updated.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "description": "The id of the incident note to update",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Incident Note Request",
                "properties": {
                  "comment": {
                    "type": "string",
                    "example": "I revoked this secret",
                    "description": "Content of the incident note"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The note was updated successfully.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/incidentNote"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "You cannot update an Incident Note you that was not created by\nthe current API key.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "Secret Incident or Incident Note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:write"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Secret Incident Notes"
        ],
        "operationId": "delete-incident-note",
        "summary": "Delete a secret incident note",
        "description": "Delete an existing comment on a secret incident. Only incident notes\ncreated by the current API key can be deleted.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          },
          {
            "name": "note_id",
            "in": "path",
            "required": true,
            "description": "The id of the incident note to delete",
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The note was deleted successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "You cannot delete an Incident Note you that was not created by\nthe current API key.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "Secret Incident or Incident Note not found.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:write"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/members": {
      "get": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "list-incident-members",
        "summary": "List members having access to a secret incident",
        "description": "List all the members having access to a secret incident.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "member_id",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "filter on a specific member id.",
              "example": 1234
            }
          },
          {
            "name": "incident_permission",
            "in": "query",
            "schema": {
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/IncidentPermissionEnum"
                }
              ],
              "example": "can_view"
            }
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MemberRoleEnum"
                }
              ],
              "description": "Filter members based on their role.",
              "deprecated": true
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Search members based on their name or email.",
              "deprecated": true
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of members",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist",
                  "example": "<http://api.gitguardian.com/v1/incidents/secrets/1/members?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/incidents/secrets/1/members?cursor=cD0xNTA%3D>; rel=\"prev\""
                }
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/xPerPage"
              },
              "X-Next-Page": {
                "$ref": "#/components/headers/xNextPage"
              },
              "X-Page": {
                "$ref": "#/components/headers/xPage"
              },
              "X-Prev-Page": {
                "$ref": "#/components/headers/xPrevPage"
              },
              "X-Total": {
                "$ref": "#/components/headers/xTotal"
              },
              "X-Total-Pages": {
                "$ref": "#/components/headers/xTotalPages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/incidentMember"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "404": {
            "description": "Secret Incident not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:read",
              "members:read"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/teams": {
      "get": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "list-incident-teams",
        "summary": "List teams having access to a secret incident",
        "description": "List all the teams having access to a secret incident.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "name": "team_id",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "filter on a specific team id.",
              "example": 1234
            }
          },
          {
            "name": "incident_permission",
            "in": "query",
            "schema": {
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/IncidentPermissionEnum"
                }
              ],
              "example": "can_view"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of team accesses",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist",
                  "example": "<http://api.gitguardian.com/v1/incidents/secrets/1/teams?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/incidents/secrets/1/teams?cursor=cD0xNTA%3D>; rel=\"prev\""
                }
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/xPerPage"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/incidentTeam"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDeniedError"
          },
          "404": {
            "description": "Secret Incident not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:read",
              "teams:read"
            ]
          }
        ]
      }
    },
    "/v1/incidents/secrets/{incident_id}/invitations": {
      "get": {
        "tags": [
          "Secret Incidents"
        ],
        "operationId": "list-incident-invitations",
        "summary": "List invitations having access to a Secret Incident",
        "description": "List all the invitations having access to a Secret Incident.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/incident_id"
          },
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "name": "invitation_id",
            "in": "query",
            "schema": {
              "type": "number",
              "description": "filter on a specific invitation id.",
              "example": 1234
            }
          },
          {
            "name": "incident_permission",
            "in": "query",
            "description": "filter accesses with a specific permission.",
            "schema": {
              "type": "string",
              "allOf": [
                {
                  "$ref": "#/components/schemas/IncidentPermissionEnum"
                }
              ],
              "example": "can_view"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of invitation accesses",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist",
                  "example": "<http://api.gitguardian.com/v1/incidents/secrets/1/invitations?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/incidents/secrets/1/invitations?cursor=cD0xNTA%3D>; rel=\"prev\""
                }
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/xPerPage"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/incidentInvitation"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/PermissionDeniedError"
          },
          "404": {
            "description": "Secret Incident not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:read",
              "members:read"
            ]
          }
        ]
      }
    },
    "/v1/occurrences/secrets": {
      "get": {
        "tags": [
          "Secret Occurrences"
        ],
        "operationId": "list-occs",
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/date_before"
          },
          {
            "$ref": "#/components/parameters/date_after"
          },
          {
            "name": "source_id",
            "in": "query",
            "description": "Filter on the source ID.",
            "schema": {
              "type": "integer",
              "example": 5523
            }
          },
          {
            "name": "source_name",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Entries matching this source name search.",
              "example": "gitguardian/test-repository"
            }
          },
          {
            "name": "incident_id",
            "in": "query",
            "description": "Filter by incident ID.",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "presence",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/PresenceEnum"
                }
              ],
              "description": "Entries that have the following presence status."
            }
          },
          {
            "name": "author_name",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Entries matching this author name search.",
              "minLength": 3,
              "example": "John Doe"
            }
          },
          {
            "name": "author_info",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Entries matching this author email search.",
              "minLength": 3,
              "example": "john.doe@gitguardian.com"
            }
          },
          {
            "name": "sha",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Entries starting with the commit sha search string.",
              "minLength": 3,
              "example": "fccebf0562698ab99dc10dcb2e864fc563b25ac4"
            }
          },
          {
            "name": "filepath",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Entries matching this filepath search.",
              "minLength": 3,
              "example": "myfile.txt"
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "-date"
              ]
            }
          }
        ],
        "summary": "List secret occurrences",
        "description": "List occurrences of secrets in the monitored perimeter.\n",
        "responses": {
          "200": {
            "description": "List occurrences",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist",
                  "example": "<http://api.gitguardian.com/v1/occurrences/secrets?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/occurrences/secrets?cursor=cD0xNTA%3D>; rel=\"prev\""
                }
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/xPerPage"
              },
              "X-Next-Page": {
                "$ref": "#/components/headers/xNextPage"
              },
              "X-Page": {
                "$ref": "#/components/headers/xPage"
              },
              "X-Prev-Page": {
                "$ref": "#/components/headers/xPrevPage"
              },
              "X-Total": {
                "$ref": "#/components/headers/xTotal"
              },
              "X-Total-Pages": {
                "$ref": "#/components/headers/xTotalPages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/occurrence"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:read"
            ]
          }
        ]
      }
    },
    "/v1/invitations": {
      "get": {
        "tags": [
          "Invitations"
        ],
        "operationId": "list-invitations",
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Search invitations based on the email field."
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
            "schema": {
              "type": "string",
              "enum": [
                "date",
                "-date"
              ]
            }
          }
        ],
        "summary": "List invitations",
        "description": "This endpoint allows you to list all pending invitations.\n\nThe response contains the list of invitations and a pagination cursor to retrieve the next page.\n\nThe invitations are sorted by id.\n\nIf you are using a personal access token, you need to have a role superior or equal to `member`.\n",
        "responses": {
          "200": {
            "description": "List invitations",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist",
                  "example": "<http://api.gitguardian.com/v1/members?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/members?cursor=cD0xNTA%3D>; rel=\"prev\""
                }
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/xPerPage"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/invitation"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden Call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "members:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Invitations"
        ],
        "operationId": "create-invitations",
        "summary": "Create an invitation",
        "description": "This endpoint allows you to send an invitation to a user.\n\nIf you are using a personal access token, you need to have a role superior or equal to `member`.\n",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "Invitation Request",
                "required": [
                  "email"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "example": "eric@gitguardian.com",
                    "description": "email of the user to invite.\n"
                  },
                  "role": {
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/NonOwnerMemberRoleEnum"
                      }
                    ],
                    "example": "manager",
                    "default": "member"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "User already in the workspace",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "details": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "201": {
            "description": "Invitation sent",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/invitation"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden Call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "409": {
            "$ref": "#/components/responses/ConflictError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "members:write"
            ]
          }
        ]
      }
    },
    "/v1/invitations/{invitation_id}": {
      "delete": {
        "tags": [
          "Invitations"
        ],
        "operationId": "delete-invitation",
        "summary": "Delete an invitation",
        "description": "Delete an existing invitation.\n\nIf you are using a personal access token, you need to have a role superior or equal to `manager`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/invitation_id"
          }
        ],
        "responses": {
          "204": {
            "description": "The invitation was deleted successfully."
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden Call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "Invitation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "members:write"
            ]
          }
        ]
      }
    },
    "/v1/invitations/{invitation_id}/resend": {
      "post": {
        "tags": [
          "Invitations"
        ],
        "operationId": "resend-invitation",
        "summary": "Resend an invitation",
        "description": "Resend an existing invitation.\n\nIf you are using a personal access token, you need to have a role superior or equal to `manager`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/invitation_id"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Invitation sent",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "string",
                      "example": "Email sent"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden Call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "Invitation not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "429": {
            "description": "Too many requests",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "members:write"
            ]
          }
        ]
      }
    },
    "/v1/members": {
      "get": {
        "tags": [
          "Members"
        ],
        "operationId": "list-members",
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "role",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/MemberRoleEnum"
                }
              ],
              "description": "Filter members based on their role."
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Search members based on their name or email."
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
            "schema": {
              "type": "string",
              "enum": [
                "created_at",
                "-created_at",
                "last_login",
                "-last_login"
              ]
            }
          }
        ],
        "summary": "List members",
        "description": "List members of the workspace.\n",
        "responses": {
          "200": {
            "description": "List members",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist",
                  "example": "<http://api.gitguardian.com/v1/members?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/members?cursor=cD0xNTA%3D>; rel=\"prev\""
                }
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/xPerPage"
              },
              "X-Next-Page": {
                "$ref": "#/components/headers/xNextPage"
              },
              "X-Page": {
                "$ref": "#/components/headers/xPage"
              },
              "X-Prev-Page": {
                "$ref": "#/components/headers/xPrevPage"
              },
              "X-Total": {
                "$ref": "#/components/headers/xTotal"
              },
              "X-Total-Pages": {
                "$ref": "#/components/headers/xTotalPages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/member"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "members:read"
            ]
          }
        ]
      }
    },
    "/v1/members/{member_id}": {
      "get": {
        "tags": [
          "Members"
        ],
        "operationId": "retrieve-member",
        "summary": "Retrieve a member",
        "description": "Retrieve an existing workspace member.\n\nIf you are using a personal access token, you need to have a role greater or equal to `member`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/member_id"
          }
        ],
        "responses": {
          "200": {
            "description": "Workspace member details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden Call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "Member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "members:read"
            ]
          }
        ]
      },
      "delete": {
        "tags": [
          "Members"
        ],
        "operationId": "delete-member",
        "summary": "Delete a member",
        "description": "Delete an existing workspace member.\n\nIf you are using a personal access token, you need to have a role greater or equal to `manager`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/member_id"
          }
        ],
        "responses": {
          "204": {
            "description": "The member was deleted successfully"
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden Call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "Member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "members:write"
            ]
          }
        ]
      },
      "patch": {
        "tags": [
          "Members"
        ],
        "operationId": "update-member",
        "summary": "Update a member",
        "description": "Update an existing workspace member.\n\nIf you are using a personal access token, you need to have a role greater or equal to `manager`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/member_id"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "title": "name",
                "properties": {
                  "role": {
                    "type": "string",
                    "allOf": [
                      {
                        "$ref": "#/components/schemas/NonOwnerMemberRoleEnum"
                      }
                    ]
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Workspace member details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/member"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden Call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "404": {
            "description": "Member not found",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "members:write"
            ]
          }
        ]
      }
    },
    "/v1/scan": {
      "post": {
        "tags": [
          "Scan Methods"
        ],
        "operationId": "content_scan",
        "summary": "Content scan",
        "description": "Scan provided document content for policy breaks.\n\nRequest body shouldn't exceed 1MB.\n\nThis endpoint is stateless and as such will not store in our servers neither the documents nor the secrets found.\n",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/document"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Scan",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/scanResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/OverQuotaError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl --request POST \\\n  --url https://api.gitguardian.com/v1/scan \\\n  --header 'authorization: Token <Insert API Key>' \\\n  --header 'content-type: application/json' \\\n  --data '{\n\"document\": \"import urllib.request\\nurl = '\\''http://jen_barber:correcthorsebatterystaple@cake.gitguardian.com/isreal.json'\\''\\nresponse = urllib.request.urlopen(url)\\nconsume(response.read())\",\n\"filename\": \".env\"\n} '\n"
          },
          {
            "lang": "Python",
            "source": "import os\nfrom pygitguardian import GGClient\ndoc_content = \"import urllib.request\\n\nurl = 'http://jen_barber:correcthorsebatterystaple@cake.gitguardian.com/isreal.json'\\n\nresponse = urllib.request.urlopen(url)\\n\nconsume(response.read())\"\nclient = GGClient(api_key=API_KEY)\nscan_result = client.content_scan(filename=\".env\", document=doc_content)\nprint(\"Scan results:\", scan_result.has_secrets, \":\", scan_result.policy_break_count)\n"
          }
        ],
        "security": [
          {
            "API Key": [
              "scan"
            ]
          }
        ]
      }
    },
    "/v1/multiscan": {
      "post": {
        "tags": [
          "Scan Methods"
        ],
        "operationId": "multiple_scan",
        "summary": "Multiple content scan",
        "description": "Scan provided document contents for policy breaks.\nMultiple documents are returned by the same index order.\n\nThere should not be more than 20 documents in the payload. Individual documents should not exceed 1MB.\n\nQuota usage is based on requests and not on the content size. One request to this endpoint will consume 1 API call.\nAlso note that the quota is set on a rolling month and not on a calendar month. \nSee [this documentation](https://docs.gitguardian.com/api-docs/usage-and-quotas) for more details.\n\nThis endpoint is stateless and as such will not store in our servers neither the documents nor the secrets found.\n",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "array",
                "description": "List of documents to scan.",
                "minItems": 1,
                "items": {
                  "$ref": "#/components/schemas/document"
                },
                "example": [
                  {
                    "filename": ".env",
                    "document": "import urllib.request\nurl = 'http://jen_barber:correcthorsebatterystaple@cake.gitguardian.com/isreal.json'\nresponse = urllib.request.urlopen(url)\nconsume(response.read())\n"
                  },
                  {
                    "filename": "tasks.py",
                    "document": "__version__=\"1.0.0\""
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Successful Scan",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "description": "List of scan results. Corresponding index to document array.",
                  "minItems": 1,
                  "items": {
                    "$ref": "#/components/schemas/scanResult"
                  },
                  "example": [
                    {
                      "policy_break_count": 2,
                      "policies": [
                        "Filename",
                        "File extensions",
                        "Secrets detection"
                      ],
                      "policy_breaks": [
                        {
                          "type": ".env",
                          "policy": "Filenames",
                          "matches": [
                            {
                              "type": "filename",
                              "match": ".env"
                            }
                          ]
                        },
                        {
                          "type": "Basic Auth String",
                          "policy": "Secrets detection",
                          "validity": "cannot_check",
                          "matches": [
                            {
                              "type": "username",
                              "match": "jen_barber",
                              "index_start": 52,
                              "index_end": 61,
                              "line_start": 2,
                              "line_end": 2
                            },
                            {
                              "type": "password",
                              "match": "correcthorsebatterystaple",
                              "index_start": 63,
                              "index_end": 87,
                              "line_start": 2,
                              "line_end": 2
                            },
                            {
                              "type": "host",
                              "match": "cake.gitguardian.com",
                              "index_start": 89,
                              "index_end": 108,
                              "line_start": 2,
                              "line_end": 2
                            }
                          ]
                        }
                      ]
                    },
                    {
                      "policy_break_count": 0,
                      "policies": [
                        "Filename",
                        "File extensions",
                        "Secrets detection"
                      ],
                      "policy_breaks": []
                    }
                  ]
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "$ref": "#/components/responses/OverQuotaError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl --request POST \\\n  --url https://api.gitguardian.com/v1/multiscan \\\n  --header 'authorization: Token <Insert API Key>' \\\n  --header 'content-type: application/json' \\\n  --data '[\n{\n\"document\":  \"import urllib.request\\nurl = '\\''http://jen_barber:correcthorsebatterystaple@cake.gitguardian.com/isreal.json'\\''\\nresponse = urllib.request.urlopen(url)\\nconsume(response.read())\",\n\"filename\": \".env\"\n},\n{\n  \"document\":  \"__version__=\\\"1.0.0\\\"\",\n  \"filename\": \"__init__.py\"\n}\n]'\n"
          },
          {
            "lang": "Python",
            "source": "import os\nfrom pygitguardian import GGClient\ndoc_content = \"import urllib.request\\n\nurl = 'http://jen_barber:correcthorsebatterystaple@cake.gitguardian.com/isreal.json'\\n\nresponse = urllib.request.urlopen(url)\\n\nconsume(response.read())\"\nclient = GGClient(api_key=API_KEY)\nto_scan = [{\"filename\": \".env\", \"document\": doc_content},\n  {\"filename\": \"__init__.py\", \"document\": \"__version__=\"1.0.0\"}]\nscan_results = client.multi_content_scan(to_scan)\nprint(scan_results)\n"
          }
        ],
        "security": [
          {
            "API Key": [
              "scan"
            ]
          }
        ]
      }
    },
    "/v1/quotas": {
      "get": {
        "tags": [
          "Quota"
        ],
        "operationId": "quotas",
        "summary": "Quota overview",
        "description": "Check available scanning calls for this token. Quota is shared between all tokens of a workspace\n",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Quota Overview",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/quota"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        }
      }
    },
    "/v1/sources": {
      "get": {
        "tags": [
          "Sources"
        ],
        "operationId": "list-sources",
        "summary": "List sources",
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/page"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/sourceSearch"
          },
          {
            "$ref": "#/components/parameters/sourceType"
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Sources matching this search.",
              "example": "test-repository"
            }
          },
          {
            "name": "last_scan_status",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/ScanStatusEnum"
                }
              ],
              "description": "Filter sources based on the status of their latest historical scan."
            }
          },
          {
            "name": "health",
            "in": "query",
            "schema": {
              "allOf": [
                {
                  "$ref": "#/components/schemas/SourceHealthEnum"
                }
              ],
              "description": "Filter sources based on their health status."
            }
          },
          {
            "name": "type",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Filter by integration type.",
              "example": "github",
              "enum": [
                "bitbucket",
                "github",
                "gitlab",
                "azure_devops"
              ]
            }
          },
          {
            "name": "ordering",
            "in": "query",
            "description": "Sort the results by their field value. The default sort is ASC, DESC if the\nfield is preceded by a '-'.\n",
            "schema": {
              "type": "string",
              "enum": [
                "last_scan_date",
                "-last_scan_date"
              ]
            }
          },
          {
            "name": "visibility",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Filter by visibility status.",
              "example": "public",
              "enum": [
                "public",
                "private",
                "internal"
              ]
            }
          },
          {
            "name": "external_id",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Filter by specific external id.",
              "example": "1"
            }
          }
        ],
        "description": "List sources monitored by GitGuardian.\n",
        "responses": {
          "200": {
            "description": "Source List",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist",
                  "example": "<http://api.gitguardian.com/v1/sources?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/sources?cursor=cD0xNTA%3D>; rel=\"prev\""
                }
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/xPerPage"
              },
              "X-Next-Page": {
                "$ref": "#/components/headers/xNextPage"
              },
              "X-Page": {
                "$ref": "#/components/headers/xPage"
              },
              "X-Prev-Page": {
                "$ref": "#/components/headers/xPrevPage"
              },
              "X-Total": {
                "$ref": "#/components/headers/xTotal"
              },
              "X-Total-Pages": {
                "$ref": "#/components/headers/xTotalPages"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/source"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:read"
            ]
          }
        ]
      }
    },
    "/v1/sources/{source_id}": {
      "get": {
        "tags": [
          "Sources"
        ],
        "operationId": "retrieve-source",
        "summary": "Retrieve a source",
        "description": "Retrieve a source monitored by GitGuardian.\n",
        "parameters": [
          {
            "name": "source_id",
            "in": "path",
            "required": true,
            "description": "The id of the source to retrieve.",
            "schema": {
              "type": "integer",
              "example": 5523
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Source List",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/source"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "incidents:read"
            ]
          }
        ]
      }
    },
    "/v1/audit_logs": {
      "get": {
        "tags": [
          "Audit Logs"
        ],
        "operationId": "list-audit-logs",
        "summary": "List audit Logs",
        "description": "List audit logs.",
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "$ref": "#/components/parameters/date_before"
          },
          {
            "$ref": "#/components/parameters/date_after"
          },
          {
            "name": "event_name",
            "in": "query",
            "description": "Entries matching this event name.",
            "schema": {
              "type": "string",
              "example": "user.logged_in"
            }
          },
          {
            "name": "member_id",
            "in": "query",
            "description": "The id of the member to retrieve.",
            "schema": {
              "type": "integer",
              "example": 3252
            }
          },
          {
            "name": "member_name",
            "in": "query",
            "description": "Entries matching this member name.",
            "schema": {
              "type": "string",
              "example": "John Smith"
            }
          },
          {
            "name": "member_email",
            "in": "query",
            "description": "Entries matching this member email.",
            "schema": {
              "type": "string",
              "example": "john.smith@example.org"
            }
          },
          {
            "name": "api_token_id",
            "in": "query",
            "description": "Entries matching this API token id.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "example": "fdf075f9-1662-4cf1-9171-af50568158a8"
            }
          },
          {
            "name": "ip_address",
            "in": "query",
            "description": "Entries matching this IP address.",
            "schema": {
              "type": "string",
              "example": "8.8.8.8"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Audit logs List",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist"
                }
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/xPerPage"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/auditLog"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "audit_logs:read"
            ]
          }
        ]
      }
    },
    "/v1/health": {
      "get": {
        "tags": [
          "Status"
        ],
        "operationId": "health_check",
        "summary": "Health check",
        "description": "Check the status of the API and your token without spending your quota.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "API on and key valid response",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "title": "Health Status",
                  "description": "Health check response.",
                  "required": [
                    "detail"
                  ],
                  "properties": {
                    "detail": {
                      "type": "string",
                      "description": "API key status."
                    }
                  }
                },
                "examples": {
                  "healthy": {
                    "summary": "Valid API Key.",
                    "value": {
                      "detail": "Valid API key."
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "x-codeSamples": [
          {
            "lang": "Shell",
            "label": "cURL",
            "source": "curl --request GET \\\n    --url https://api.gitguardian.com/v1/health \\\n    --header 'authorization: Token <Insert API Key>'\n"
          },
          {
            "lang": "Python",
            "source": "import os\nfrom pygitguardian import GGClient\n# store your API key in an environment variable\nclient = GGClient(api_key=os.getenv(\"GG_API_KEY\"))\nhealth_obj = client.health_check()\nif bool(health_obj):\n    print(\"Healthy API server\")\n"
          }
        ]
      }
    },
    "/v1/teams": {
      "get": {
        "tags": [
          "Teams"
        ],
        "operationId": "list-teams",
        "parameters": [
          {
            "$ref": "#/components/parameters/cursor"
          },
          {
            "$ref": "#/components/parameters/per_page"
          },
          {
            "name": "is_global",
            "in": "query",
            "schema": {
              "type": "boolean",
              "description": "Filter on/exclude the \"All-incidents\" team."
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "description": "Search teams based on their name and/or description."
            }
          }
        ],
        "summary": "List teams",
        "description": "This endpoint allows you to list all the teams of your workspace.\n\nThe response contains the list of teams and a pagination cursor to retrieve the next page.\n\nThe teams are sorted by id.\n\nIf you are using a personal access token, you need to have a role superior or equal to `member`.\n",
        "responses": {
          "200": {
            "description": "List teams",
            "headers": {
              "Link": {
                "schema": {
                  "type": "string",
                  "description": "Links toward the previous and next pages if they exist",
                  "example": "<http://api.gitguardian.com/v1/teams?cursor=cD0xNTA%3D>; rel=\"next\",<http://api.gitguardian.com/v1/teams?cursor=cD0xNTA%3D>; rel=\"prev\""
                }
              },
              "X-Per-Page": {
                "$ref": "#/components/headers/xPerPage"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/team"
                  }
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequestError"
          },
          "401": {
            "$ref": "#/components/responses/UnauthorizedError"
          },
          "403": {
            "description": "Forbidden Call",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/error"
                }
              }
            }
          },
          "503": {
            "$ref": "#/components/responses/MaintenanceResponse"
          }
        },
        "security": [
          {
            "API Key": [
              "teams:read"
            ]
          }
        ]
      },
      "post": {
        "tags": [
          "Teams"
        ],
        "operationId": "create-teams",
        "summary": "Create a team",
        "description": "This endpoint allows you to create a team.\n\nIf you are using a personal access token, you need to have a role superior or equal to `manager`.\n\nIf a personal access token is being used, the member is automatically added to the created team with permissions `can_manage` and `full_access`\n",
        "parameters": [],
        "requestBody": {
          "required": true,
          "content": {
[...]
